/* Estilização geral */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    width: 100vw;
    height: 100vh;
    background: #ececec;
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    width: 100%;
    max-width: 600px;
    padding: 1rem;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

section {
    width: 100%;
    margin: 0 auto;
    padding: 1rem;
    border-radius: 8px;
    background: #fafafa;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

/* Estilização da mensagem JavaScript */
.aviso {
    background: #f44336;
    padding: 5px;
    border-radius: 5px;
    color: white;
}

/* Mensagens de status */
.aprovado {
    background: #64dd17;
}

.recuperacao {
    background: #ffc107;
}

.reprovado {
    background: #f44336;
}

/* Estilização do formulário */
form {
    margin: 1rem;
}

.form-group {
    margin-bottom: 1rem;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background: #fff;
}

/* Campos de entrada */
input[type=number], input[type=text] {
    padding: 10px;
    text-align: center;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

/* Estilização dos campos de resultado */
.cx, input[type=text] {
    border: 1px solid #ddd;
    background-color: #e9ecef;
}

/* Botões */
.form-group button {
    color: #fff;
    border: 0;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
    font-size: 16px;
    margin-right: 10px;
}

button:hover {
    box-shadow: 0 0 3px #222;
}

#btnCalcular {
    background: #1a237e;
}

#btnLimpar {
    background: #ff3d00;
}
